@import 'common'
@import 'nib'

taupe = #CDC1B1

body {
  font-family: 'Open Sans', sans-serif
}

a, a:hover, a:visited, a:active
  color hsla(231, 100%, 54%, 1.0)
  text-decoration none

#count
  color red;
  font-weight 100

.container > header
  margin 30px auto 50px auto
  width 840px
  clearfix()

  img
    position relative
    top 4px
    width 500px
    float right
    border-radius 10px
    border 1px solid #777

.header-text
  float left
  margin 66px 0
  p
    text-align right
    font-size 60px
    line-height 60px
    font-weight 300
    margin 0

    &:first-child
      margin-bottom 65px

    &:last-child
      margin-top 65px

ul.nav
  margin-left auto
  margin-right auto
  width 636px
  padding 0
  margin-bottom 0
  li
    font-size 20px
    font-weight 300
    a
      padding 15px 30px
      color #777777
    a:hover
      background-color lighten(taupe, 40%)
    &.active a, &.active a:hover
      background-color taupe
      color darken(taupe, 60%)

.main
  border-radius 10px
  border-right 1px solid #DDD
  border-left 1px solid #DDD
  border-bottom 1px solid #DDD
  margin 0px
  padding 40px
  background taupe
  & > div
    font-size 18px
    font-weight 300
    &:not(.active)
      display none
    h2
      text-align center
      font-weight 100
      font-size 40px
      margin-bottom 30px

#wedding-info 
  section
    text-align center
    margin-bottom 60px
  div
    margin-bottom 30px
  h1
    font-size 50px
    font-weight 700
    margin 20px 0
    padding-bottom 15px
    border-bottom 1px solid darken(taupe, 20%)
  h2
    font-size 40px
    margin-bottom 15px
  h3
    font-size 26px
    font-weight 100

.address
  margin-bottom 15px

ol
  list-style none
  padding-left 0
  li
    margin-bottom 8px
    clearfix()

.directions
  width 600px
  margin 0 auto
  header
    color #555
    text-shadow 1px 0px #BBB
    font-size 30px

.direction
  float left

.distance
  float right

#contact
  & > p
    font-size 22px
    text-align center

.contact-info
  text-align center
  margin-top 30px
  font-size 28px
  font-weight 300
  clearfix()
  p
    margin 0

.left
  float left
  text-align center
  margin-left 40px

.right
  float right
  text-align center
  margin-right 40px

blockquote
  width 90%
  margin 30px auto 0 auto
  border-left 0 solid #FFFFFF
  p
    font-size 42px
    line-height 48px
    font-weight 300
    margin-bottom 8px
  small
    font-size 20px
    line-height 22px
    color #666666

footer
  margin-top 10px
  font-size 14px
  text-align right
  a, a:hover, a:visited
    color: #2D81C5
    text-decoration none
